* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #34db87;
    padding: 15px;
}

nav a {
    color: #34db87;
    margin: 0 15px;
    text-decoration: none;
}

img {
    max-width: 300px;
    margin-top: 10px;
}
